<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Start" />
  <title>Polymer Starter Kit</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#303F9F">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Chrome for Android Theme color -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Polymer Start">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Start">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->
</head>

<body unresolved class="fullbleed layout vertical">
  <template is="dom-bind" id="app">

    <paper-drawer-panel id="paperDrawerPanel" forceNarrow>
      <div drawer>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span>Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
          <paper-menu class="list" attr-for-selected="data-route" selected="{{route}}">
              <a data-route="home" href="/">
                <iron-icon icon="home"></iron-icon>
                <span>Home</span>
              </a>

              <a data-route="first" href="/first">
                <iron-icon icon="info"></iron-icon>
                <span>Begin Here: Your first Polymer element</span>
              </a>

              <a data-route="second" href="/second">
                <iron-icon icon="info"></iron-icon>
                <span>Create a code-prettify component</span>

              </a>

            <a data-route="third" href="/third">
              <iron-icon icon="info"></iron-icon>
              <span>Build a Mobile-First Google Drive Client</span>
            </a>


          </paper-menu>
      </div>
      <paper-header-panel main mode="waterfall">
        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar">
          <button tabindex="1" id="paperToggle" paper-drawer-toggle>
            <iron-icon icon="menu" paper-drawer-toggle></iron-icon>
          </button>
          <span class="flex"></span>

          <!-- Application name -->
          <div class="appname  paper-font-display2">Some Polymer codelabs</div>

          <!-- Toolbar icons -->
          <paper-icon-button icon="refresh"></paper-icon-button>
          <paper-icon-button icon="search"></paper-icon-button>
          <div class="middle"></div>


        </paper-toolbar>

        <!-- Main Content -->
          <iron-pages attr-for-selected="data-route" selected="{{route}}">

            <section data-route="home">
              <paper-material elevation="1">


                <p class="paper-font-body2">Looking for more Web App layouts? Check out our <a href="https://github.com/PolymerElements/app-layout-templates">layouts</a> collection. You can also <a href="http://polymerelements.github.io/app-layout-templates/">preview</a> them live.</p>
              </paper-material>
            </section>

            <section data-route="first">
              <paper-material elevation="1">
                <h2 class="paper-font-display2">Begin Here: Your first Polymer element Polymer element</h2>
                <h3>Statically-configured icon-toggles</h3>
                <icon-toggle toggle-icon="star"></icon-toggle>
                <h2>Style</h2>
                <w3b-codeprettify code-snippet="
                /* local DOM styles go here */
                  :host {
                    display: inline-block;
                  }
                  iron-icon {
                    fill: deeppink;
                    stroke: currentcolor;
                  }
                  :host([pressed]) iron-icon {
                    fill: deepskyblue;
                  } ">
                </w3b-codeprettify>
                <h2>template</h2>
                <w3b-codeprettify code-snippet="<!-- local DOM goes here -->
                  <iron-icon icon='[[toggleIcon]]'></iron-icon> ">
                </w3b-codeprettify>
                <h2>script</h2>
                <w3b-codeprettify code-snippet="Polymer({
                  is: 'icon-toggle',
                  properties: {
                    toggleIcon: String,
                    pressed: {
                      type: Boolean,
                      value: false,
                      notify: true,
                      reflectToAttribute: true
                    }
                  },
                  listeners: {
                    'tap': 'toggle'
                  },
                  toggle: function() {
                    this.pressed = !this.pressed;
                  }
                });">
                </w3b-codeprettify>
              </paper-material>

            </section>

            <section data-route="second">
              <h2 class="paper-font-display2">A code-prettify component</h2>
              <w3b-codeprettify code-snippet=" ">
              </w3b-codeprettify>
            </section>

            <section data-route="third">
              Build a Mobile-First Google Drive Client
            </section>

          </iron-pages>
          </paper-header-panel>
    </paper-drawer-panel>

    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="networkFirst"
                         precache-file="precache.json">
      </platinum-sw-cache>
    </platinum-sw-register>

  </template>

  <!-- build:js scripts/app.js -->
  <script src="scripts/app.js"></script>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
  <!-- endbuild-->
</body>

</html>
